body { margin:0px; padding:0px; }

.my-site-header {
    height: 360px;
    z-index: 10;
}
.header-banner {
    background-color: #8d929e;
    width: 100%;
    height:300px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}
.nav-up {
    top: -60px;
}
nav {
    width: 100%;
    height: 60px;
    background: #292f36;
    z-index: 10;
  transition: top 0.2s ease-in;
}


@import url(https://fonts.googleapis.com/css?family=Raleway:100,300);
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}


.box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.box .item {
  display: flex;
  flex-grow: 1;
  transition: all 0.5s ease;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  width: 33%;
}

.box .item:hover {
  width: 60%;
}

.box .item a {
  content: "";
  width: 200%;
  height: 43.33%;
  background-color: rgba(0, 0, 0, 0.75);
  left: -50%;
  bottom: -10%;
  position: absolute;
  transform: rotate(-15deg);
  color: #fff;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: 100;
}

.box .item.irelia {
  background-image: url("https://i.imgur.com/j28hqal.jpg");
  background-position: 45% center;
}

.box .item.jinx  {
  background-image: url("https://i.imgur.com/FnZXq2X.jpg");
  background-position: 70% center;
}

.box .item.katarina #burpbox {
  max-width: 400px;
  margin: 0 auto 0 auto;
}

.site-header {
  display: none;
}

/*----------------------------------------------------------------------*/

.page-content .wrapper {
  width: 100%;
  max-width: 100%;
  margin:0;
  padding: 10px;
}
body #contentbox.content {
  margin-left: 0;
  max-width: 800px;
  margin: auto;
  padding: 0 30px;
}
/*----------------------------------------------------------------------*/
.my-site-header nav ul li {
  display: inline-block;
}
.my-site-header nav ul {
  list-style-type: none;
}
a svg.svg-icon {
width: 23px;
}
#contentbox{
  background-color: #fdfdfd;
  color: #111;
}
pre, code, .highlighter-rouge, .highlight code, div.highlighter-rouge .highlight{
  background-color: rgb(188, 196, 204);
}
html body{
  background-color: rgb(188, 196, 204);
}
#contentbox table tr, #contentbox table th{
  background-color: white;
  color: #111;
}
table tr:nth-child(even){
  background-color: #f7f7f7;
}

/*archive----------------------------------------------------*/
#archive #grippy{
width:15px;
position: absolute;
right: 0;
height: 100%;
cursor: pointer;
background-color: green;
}
#archive {
  position: absolute;
  bottom: 0;
  top:360px;
  width: 0;
  padding-right: 15px;
  overflow: hidden;
}
#archive.archiveout {
  width: 200px;
}
#contentbox {
  margin-left: 15px;
}
#contentbox.contentmargin {
  margin-left: 200px;
}

body {
  position: relative;
}